{
  "swagger" : "2.0",
  "info" : {
    "version" : "2.0",
    "title" : "Spiget",
    "contact" : {
      "name" : "inventivetalent",
      "url" : "https://inventivetalent.org/contact",
      "email" : "info@inventivetalent.org"
    },
    "license" : {
      "name" : "Apache License 2.0",
      "url" : "https://github.com/SpiGetOrg/Spiget/blob/master/LICENSE.md"
    }
  },
  "host" : "api.spiget.org",
  "basePath" : "/v2",
  "schemes" : [ "https", "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/resources" : {
      "get" : {
        "description" : "Get a list of available resources\n",
        "parameters" : [ {
          "name" : "size",
          "in" : "query",
          "description" : "Size of the returned array",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page index",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Field to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to return, separated by commas",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Array",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Resource"
              }
            }
          }
        }
      }
    },
    "/resources/for/{version}" : {
      "get" : {
        "description" : "Get resources for the specified version(s)\n",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "description" : "Version(s), separated by commas",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "method",
          "in" : "query",
          "description" : "Method to use to check for versions",
          "required" : false,
          "type" : "string",
          "enum" : [ "any", "all" ]
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Size of the returned array",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page index",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Field to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to return, separated by commas",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Array",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Resource"
              }
            }
          }
        }
      }
    },
    "/resources/new" : {
      "get" : {
        "description" : "Get all new resources\n",
        "parameters" : [ {
          "name" : "size",
          "in" : "query",
          "description" : "Size of the returned array",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page index",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Field to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to return, separated by commas",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Array",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Resource"
              }
            }
          }
        }
      }
    },
    "/resources/{resource}" : {
      "get" : {
        "description" : "Get a resource by its ID or name\n",
        "parameters" : [ {
          "name" : "resource",
          "in" : "path",
          "description" : "Resource ID or Name",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Size of the returned array",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page index",
          "required" : false,
          "type" : "number",
          "format" : "integer"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Field to sort by",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to return, separated by commas",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Array",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Resource"
              }
            }
          },
          "404" : {
            "description" : "Requested object not found"
          }
        }
      }
    },
    "/resources/{resource}/download" : {
      "get" : {
        "description" : "Download a resource\n",
        "parameters" : [ {
          "name" : "resource",
          "in" : "path",
          "description" : "Resource ID or Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "File found",
            "headers" : {
              "Content-Type" : {
                "type" : "string",
                "description" : "Content type for the resource file (applicaation/octet-stream if unknown)"
              },
              "Content-Disposition" : {
                "type" : "string",
                "description" : "Download information, including the file name"
              }
            }
          },
          "404" : {
            "description" : "Resource not found / File not Found"
          }
        }
      }
    }
  },
  "definitions" : {
    "Resource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Id of the Resource"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the Resource"
        },
        "tag" : {
          "type" : "string",
          "description" : "Tag line of the Resource"
        },
        "contributors" : {
          "type" : "string",
          "description" : "Contributors"
        },
        "likes" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Number of likes"
        },
        "file" : {
          "$ref" : "#/definitions/ResourceFile"
        },
        "testedVersions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "links" : {
          "type" : "object",
          "description" : "Map of external and custom links in the resource description",
          "properties" : { }
        },
        "rating" : {
          "$ref" : "#/definitions/ResourceRating"
        },
        "releaseDate" : {
          "type" : "number",
          "format" : "long",
          "description" : "Release timestamp"
        },
        "updateDate" : {
          "type" : "number",
          "format" : "long",
          "description" : "Update timestamp"
        },
        "downloads" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Amount of downloads"
        },
        "external" : {
          "type" : "boolean",
          "description" : "Whether this resource is external (not hosted on SpigotMC.org)"
        },
        "icon" : {
          "$ref" : "#/definitions/Icon"
        },
        "reviews" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ResourceReview"
          }
        }
      },
      "title" : "Resource"
    },
    "ResourceFile" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "File extension (.jar, .zip, .sk)"
        },
        "size" : {
          "type" : "number",
          "format" : "float",
          "description" : "File size"
        },
        "sizeUnit" : {
          "type" : "string",
          "description" : "File size-unit (KB, MB, GB)"
        },
        "url" : {
          "type" : "string",
          "description" : "Relative URL to the file"
        }
      },
      "title" : "Resource File"
    },
    "Icon" : {
      "type" : "object",
      "properties" : {
        "url" : {
          "type" : "string",
          "description" : "Relative URL to the image"
        },
        "data" : {
          "type" : "string",
          "description" : "Base64-Encoded image data"
        }
      },
      "title" : "Resource Icon / Author Avatar"
    },
    "ResourceVersion" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Version name (e.g. v1.0)"
        },
        "releaseDate" : {
          "type" : "number",
          "format" : "long",
          "description" : "Timestamp of the version's release date"
        },
        "downloads" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Amount of downloads"
        },
        "rating" : {
          "$ref" : "#/definitions/ResourceRating"
        },
        "url" : {
          "type" : "string",
          "description" : "Relative URL to the file"
        }
      },
      "title" : "Resource Version"
    },
    "ResourceUpdate" : {
      "type" : "object",
      "properties" : {
        "title" : {
          "type" : "string",
          "description" : "Update title"
        },
        "description" : {
          "type" : "string",
          "description" : "Base64-Encoded description of the update"
        },
        "date" : {
          "type" : "number",
          "format" : "long",
          "description" : "Update timestamp"
        },
        "likes" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Amount of likes for this update"
        }
      },
      "title" : "Resource Update"
    },
    "ResourceRating" : {
      "type" : "object",
      "properties" : {
        "count" : {
          "type" : "number",
          "format" : "integer",
          "description" : "Number of ratings"
        },
        "average" : {
          "type" : "number",
          "format" : "float",
          "description" : "Average rating"
        }
      },
      "title" : "Resource Rating"
    },
    "ResourceReview" : {
      "type" : "object",
      "properties" : {
        "author" : {
          "$ref" : "#/definitions/Author"
        },
        "rating" : {
          "$ref" : "#/definitions/ResourceRating"
        },
        "message" : {
          "type" : "string",
          "description" : "Base64-Encoded Review message"
        },
        "responseMessage" : {
          "type" : "string",
          "description" : "Base64-Encoded message the author responded with"
        },
        "version" : {
          "type" : "string",
          "description" : "Version name the review was posted for"
        },
        "date" : {
          "type" : "number",
          "format" : "long",
          "description" : "Review timestamp"
        }
      },
      "title" : "Resource Review"
    },
    "Author" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Author name"
        },
        "icon" : {
          "$ref" : "#/definitions/Icon"
        }
      },
      "title" : "Author"
    },
    "Category" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Category name"
        }
      },
      "title" : "Category"
    },
    "IdReference" : {
      "type" : "object",
      "properties" : {
        "$id" : {
          "type" : "number",
          "format" : "integer"
        }
      },
      "title" : "Id-Reference to another object"
    }
  },
  "parameters" : {
    "sizeParam" : {
      "name" : "size",
      "in" : "query",
      "description" : "Size of the returned array",
      "required" : false,
      "type" : "number",
      "format" : "integer"
    },
    "pageParam" : {
      "name" : "page",
      "in" : "query",
      "description" : "Page index",
      "required" : false,
      "type" : "number",
      "format" : "integer"
    },
    "sortParam" : {
      "name" : "sort",
      "in" : "query",
      "description" : "Field to sort by",
      "required" : false,
      "type" : "string"
    },
    "fieldsParam" : {
      "name" : "fields",
      "in" : "query",
      "description" : "Fields to return, separated by commas",
      "required" : false,
      "type" : "string"
    }
  },
  "responses" : {
    "notFound" : {
      "description" : "Requested object not found"
    },
    "resourceArray" : {
      "description" : "Resource Array",
      "schema" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/definitions/Resource"
        }
      }
    },
    "success" : {
      "description" : "Successful response"
    }
  }
}